body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    margin-bottom: 20px;
}

#weatherInfo, #infoSection {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

input {
    padding: 10px;
    width: 200px;
}
